.y-axis-label {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: rotate(-90deg) translateY(10px);
    transform-origin: center;
    font-size: 2vw;
    font-weight: bold;
    white-space: nowrap; /* Prevents line breaks */
    z-index: 1;
}

.x-axis-label {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    font-size: 2vw;
    font-weight: bold;
    z-index: 1;
}
