/* Tooltip styles */
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);  /* Dark background */
    color: white;
    padding: 15px;  /* Increase padding */
    border-radius: 5px;
    font-size: 20px;  /* Increase font size */
    pointer-events: none;  /* Prevent tooltip from blocking other events */
    white-space: nowrap;  /* Prevent text from wrapping */
    max-width: 300px;  /* You can also adjust max-width if necessary */
}


/* Node circle styles */
.node circle {
    fill: #FFA726;
    stroke: #fff;
    stroke-width: 2px;
}

/* Node hover effect */
.node circle:hover {
    stroke: #000;
    stroke-width: 3px;
}

/* Link styles */
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
